@tailwind base;
@tailwind components;
@tailwind utilities;

.fa-solid {
  font-size: 18px;
  color: rgb(58, 53, 53);
}

.fa-solid.fa-circle-check.fa-lg.text-white {
  color: rgb(240, 248, 248);
}

.slick-slide.slick-center img {
  transform: scale(1.2);
  z-index: 1;
  transition: transform 0.3s ease;
}

.slick-slide:not(.slick-center) img {
  transform: scale(0.8);
  opacity: 0.7;
  z-index: 0;
  transition: transform 0.3s ease;
}